.hero {
   height: 400px;
   z-index: -1;

   @media (min-width: 1280px) {
      height: 750px;
   }
}

.overlay {
   background: rgba(20,20,20, .5);
   display: block;
   width: 100%;
   z-index: 1;
}