.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   width: 100%;
   background: white;
   border-bottom: 1px solid #f2f2f2;
   z-index: 1;

   @media (min-width: 1280px) {
      margin-top: 35px;
   }
   
   .wrapper {
      align-items: center;
      justify-content: space-between;
      padding-right: 0;
      
      @media (min-width: 1280px) and (max-width: 1500px) {
         padding-right: 3rem;
      }
   }

   &__logo-container {
      height: 75px;
      width: 75px;
      position: relative;
      bottom: 1px;

      @media (min-width: 1280px) {
         height: 90px;
         width: 90px;
      }
   }


   &__cta-hamburger-container {
      display: flex;
      align-items: center;

      @media (min-width: 1280px) {
         display: none;
      }

      &-cta-call-now {
         background: #0A0A86;
         padding: 0.5rem 1rem;
         text-transform: uppercase;
         color: white;
         font-size: 1.5rem;
         border-radius: 3px;
         text-decoration: none;
         margin-right: 1.25rem;
      }

      button {
         padding: .5rem;
         display: flex;
         margin-right: 1.25rem;
      }
   }

   &__navigation {
      padding: 0 1rem;
      background: white;
      height: 100vh;
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 100%;
      -webkit-transition: all .25s ease,visibility 0s .25s;
      transition: all .25s ease,visibility 0s .25s;
      visibility: hidden;
      width: 100%;
      will-change: opacity,visibility;
      z-index: 13;

      @media (min-width: 1280px) {
         padding: 0;
         width: 45rem;
         position: relative;
         height: auto;
         opacity: 1;
         visibility: visible;
         pointer-events: auto;
      }

      &--inner {
         height: 100%;
         opacity: 0;
         position: relative;
         transform: rotateX(-60deg);
         transform-origin: 50% 0;
         transition: all .25s ease,visibility 0s .25s;
         visibility: hidden;
         will-change: opacity,transform,visibility;
         display: flex;
         flex-direction: column;
         font-size: 2rem;

         @media (min-width: 1280px) {
            flex-direction: row;
            justify-content: space-between;
            visibility: visible;
            opacity: 1;
            transform: rotateX(0deg);
            transform-origin: 0;
         }

         &--open {
            transform: none;
            opacity: 1;
            transition: all .25s ease,opacity .1s ease;
            visibility: visible;
            transform-origin: 50% 0;
         }

         &-link {
            margin: .3rem 0;
            color: $blue;
            text-decoration: none;
            background-color: #f4f4f4;
            padding: 1.995rem 1.5rem 1.995rem 2.4rem;

            @media (min-width: 1280px) {
               background: white;
               margin: 0;
               padding: 0;
            }
         }

         &-link-active {
            color: $red;

            &:before {
               content: '';
               display: inline-block;
               height: 2px;
               width: 15px;
               background: $red;
               margin-right: 1rem;
               margin-bottom: 0.5rem;

               @media (min-width: 1280px) {
                  display: none;
               }
            }
         }
      }

      &--open {
         opacity: 1;
         transition: all .25s ease,opacity .1s ease;
         visibility: visible;
         pointer-events: auto;
      }
   }
}
