.utility-navigation {
   display: none;
   background: $blue;
   color: white;
   padding: .35rem 3rem;
   position: fixed;
   width: 100%;
   z-index: 2;

   .wrapper {
      justify-content: flex-end;
      align-items: center;
   }
   
   &__call-now-txt {
      font-size: 1.75rem;
      margin: 0;
   }

   @media (min-width: 1280px) {
      display: flex;
   }
}